.commandline {
    background-color: #000305;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #FFF;
}

.commandline code {
    color: white;
}
.exercise-start {
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.3em;
}
.exercise-start h4 {
    line-height: 10px;
}
.title {
    border-bottom: 1px solid #ccc;
    margin-right: 30px;
}

