.chapters {
    width: 25%;
    margin-top: 3rem;
    margin-left: 7rem;
    display: inline-block;
}
chapter h1 {
    font-size: 3rem;
}
.chapters.row {
    margin-left: 7rem;
}

.chapters a {
    margin: 0px;
    padding: 5px;
    padding-left: 8px;
    display: block;
}

.chapters a:hover, a.clicked {
    background-color: #EEE;
    border-left-style: solid;
    border-left-color: #5B8BFB;
}

p {
    background-color: blue;
}

.tester {
    background-color: green;
}