.chapters {
    width: 25%;
    margin-top: 20px;
}
.row {
    margin-left: 7rem;
}

a.chapter {
    margin: 0px;
    padding: 5px;
    padding-left: 8px;
    display: block;
}

a:hover.chapter, a.clicked.chapter {
    background-color: #EEE;
    border-left-style: solid;
    border-left-color: #5B8BFB;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
.chapterDis {
    margin-top: -1.5rem;
    height: calc(100% - 7.9rem);
    overflow-y: scroll;
    overflow-x: hidden;
}
i {
    font-size: 3em;
}
.download {
    line-height: 1em;
}
.chapNav {
    text-align: center;
    color: #333;
}
.link {
    color: #333;
    font-weight: 600;
}
.chapNav h5 {
    margin: 0px;
}