.chapters {
    width: 25%;
    margin-top: 3rem;
}
.row {
    margin-left: 7rem;
}

a {
    margin: 0px;
    padding: 5px;
    padding-left: 8px;
    display: block;
}

a:hover, a.clicked {
    background-color: #EEE;
    border-left-style: solid;
    border-left-color: #5B8BFB;
}