<div class="content row">
    <div class="chapters col s3">
        <h3>Chapters:</h3>
        <!-- <p *ngFor="let chapter of chapters" class="chapter {{chapter.number}}">{{chapter.number}}. {{chapter.title}}</p> -->
        <a *ngFor="let chapter of chapters; let i=index" (click)="clickedItem = i" [class.clicked]="i == clickedItem" class="chapter">{{chapter.number}}. {{chapter.title}}</a>
    </div>
    <div class="col s9">
        <h1>Tutorial</h1>
        <!-- <codestep [step]="2.1"></codestep> -->
        <!-- Routed views go here -->
        <router-outlet></router-outlet>
    </div>
</div>