<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

<!--Navigation-->
<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <ul class="right hide-on-med-and-down">
                    <li><a routerLink="/tutorial">Tutorial</a></li>
                    <li><a href="./docs">Docs</a></li>
                    <li><a routerLink="/plugins">Plugins</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a routerLink="/tutorial">Tutorial</a></li>
                    <li><a href="./docs">Docs</a></li>
                    <li><a routerLink="/plugins">Plugins</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h header cd-headline">
            <span class="title">Nativescript</span>
        </h1>
        <p class="subtitle">
            <span>Open-Source platform to build high performance cross-platform native mobile apps with web technologies. This includes tight Angular2 integration.</span>
        </p>
        <p class="home_btn">
            <a class="waves-effect waves-light btn">Get Started</a>
            <a class="waves-effect waves-light btn">Learn More</a>
        </p>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2 class="center header text_h2"> Create awesome native mobile apps with JavaScript (or TypeScript). </h2>
            </div>

            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="ion-ios-pulse"></i>
                    <h5 class="promo-caption">Super Performance</h5>
                    <p class="light center">Create apps with 100% native performance and power. Buttery smooth, even on Android! It's also quick
                        to learn with an awesome community, plenty of resources and high performance workflows.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="ion-ios-cog-outline"></i>
                    <h5 class="promo-caption">Native and Extensible</h5>
                    <p class="light center">Access all native iOS, Android and Windows APIs directly with JavaScript. Easily reuse existing plugins
                        from npm, CocoaPods (iOS) and Gradle (Android) directly in NativeScript projects, plus hundreds of
                        NativeScript specific plugins on npm</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="ion-ios-world-outline"></i>
                    <h5 class="promo-caption">Web Technologies</h5>
                    <p class="light center">Work with JavaScript or TypeScript, HTML and CSS (or SASS and LESS). Close links to the Angular team
                        and full support for Angular 2.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Work </h2>
    </div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Our Team </h2>
    </div>
</div>